
{% block content %}
{% load static %}
<section class="navigation" id="home">
    <div class="container">
      <nav class="navbar navbar-fixed-top navbar-expand-md bg">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand" href="#"><img src="{% static '/img/logo.png' %}" alt="digilogo" width="120" /></a>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href = "{% url 'home' %}" class="nav-link mx-3 mx-3 text-black fs-5">About the Project</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link mx-3 mx-3 text-black fs-5">Benfits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 mx-3 text-black fs-5" href="#">Data Security</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 mx-3 text-black fs-5" href="#">Q&A</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link  mx-3 mx-3 text-black fs-5" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  mx-3 mx-3 text-black fs-5" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>
{% endblock %}